alias watch='watch --i=0'
alias phpinfo='php -r "phpinfo();"'
alias acs='apt-cache search'
alias agi='sudo apt-get install'
alias mtr='mtr --curses'
alias cleaner="find . -name '*~' -exec rm -f {} \;"
alias torbox='mv ~/Downloads/*.torrent ~/Dropbox/Dropbox/Torrents'
if [ -f ~/dotfiles/.local_aliases ] ; then
   . ~/dotfiles/.local_aliases
fi
