# User specific aliases and functions
alias a2='ssh oak-ss-admin002'
alias a3='ssh oak-ss-admin003'
alias a4='ssh oak-ss-admin004'
alias a5='ssh oak-ss-admin005'
alias s1='ssh sac-ss-admin001'
alias s2='ssh sac-ss-admin002'
alias emacs='emacs -nw'
alias i2='ssh inf002.sfota.videoegg.com'
alias dev='ssh -t kplimack-shift.dev -t'
alias dogb='ssh oak-dog-batch001.say'
alias ddd='ssh root@oak-ss-admin004 "/etc/init.d/named status" && ssh root@oak-ss-admin003 "/etc/init.d/named status"'
alias watch='watch --i=0'
alias push-nagios='ssh oak-ss-admin003 -t push-nagios'
alias rancid='ssh oak-ss-admin004 -t sudo su - rancid'
alias gitup='upstage && ssh oak-ss-admin004 -t gitup'
alias phpinfo='php -r "phpinfo();"'
alias push-dns='ssh oak-ss-admin004 -t push-dns'
alias snmpwalk='snmpwalk -v2c -c6yhn7ujm'
alias oaknag='ssh oak-ss-admin003 -t push-nagios oak'
alias sacnag='ssh oak-ss-admin003 -t push-nagios sac'
alias acs='apt-cache search'
alias agi='sudo apt-get install'
alias mtr='mtr --curses'
alias consoleto='ssh oak-ss-admin004 -t consoleto'
