[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "cyberpunk-theme.el"]
	path = cyberpunk-theme.el
	url = https://github.com/n3mo/cyberpunk-theme.el.git
